* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 20px 40px;
  align-items: center;
  height: 100%;

}

ul {
  list-style-type: none;
}

.nav {
  display: flex;
  padding: 0px 40px;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.nav :nth-of-type(4) {
  flex: 1;
  text-align: right;


}

.nav :nth-of-type(1) {
  flex: 1;
  text-align: right;
}

.nav li {
  margin: 0px 5%;
  width: auto;

}

.toggle {
  display: none;
}

.ellipse {
  position: absolute;
  width: 75%;
  height: 120vh;
  left: 24%;
  top: -45%;
  background: #D09854;
  border-radius: 50%;
  z-index: -2;
}

.image1 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 3%;
  top: 48%;
}

.image2 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 25%;
  top: 70%;
}

.image3 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 53%;
  top: 70%;
}

.image4 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 75%;
  top: 48%;

}



@media(max-width:500px) {
  .toggle {
    display: block;
    cursor: pointer;
  }

  .navToggled {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .navToggled :nth-of-type(4) {
    text-align: center;
  }

  .navToggled :nth-of-type(1) {
    text-align: center;
  }

  .logo {
    position: absolute;
    left: 5px;
    top: 10px;
    background-color: rgb(230, 198, 238);

  }

  .toggle {
    position: absolute;
    top: 10px;
    right: 8px;

  }

  .navToggled :nth-of-type(n+2) {
    margin-top: 40px;

  }

  .nav {
    display: none;
  }

}