* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 20px 40px;
  align-items: center;
  height: 100%;

}

ul {
  list-style-type: none;
}

li,
.logo {
  font-family: 'Pacifico', cursive;
  font-weight: 150;
  font-size: 18px;
}

.nav {
  display: flex;
  padding: 0px 40px;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.nav :nth-of-type(4) {
  flex: 1;
  text-align: right;


}

.nav :nth-of-type(1) {
  flex: 1;
  text-align: right;
}

.nav li {
  margin: 0px 5%;
  width: auto;

}

.toggle {
  display: none;
}

.ellipse {
  position: absolute;
  width: 75%;
  height: 120vh;
  left: 24%;
  top: -45%;
  background: #D09854;
  border-radius: 50%;
  z-index: -2;
}

.image1 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 3%;
  top: 48%;
}

.image2 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 25%;
  top: 70%;
}

.image3 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 53%;
  top: 70%;
}

.image4 {
  position: absolute;
  width: 17vw;
  height: 35vh;
  left: 75%;
  top: 48%;

}

.description {
  position: absolute;
  width: 450px;
  height: 301px;
  left: 100px;
  top: 435px;
}

p:first-of-type {
  font-family: 'Cherish';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 112px;
  color: #CD8021;
}

p:last-of-type {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  color: #000000;
}

.searchBar {
  position: absolute;
  width: 50%;
  height: 10%;
  left: 30%;
  top: 120%;
}


.searchBar input {
  position: absolute;
  border: none;
  background: rgba(196, 196, 196, 0.47);
  border-radius: 25px;
  width: 80%;
  height: 75%;
}

.searchBar button {
  position: absolute;
  width: 25%;
  height: 75%;
  left: 87%;
  top: 1%;

  background: #A3B86E;
  border-radius: 20px;
  border: none;
}



@media(max-width:500px) {
  .toggle {
    display: block;
    cursor: pointer;
  }

  .navToggled {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .navToggled :nth-of-type(4) {
    text-align: center;
  }

  .navToggled :nth-of-type(1) {
    text-align: center;
  }

  .logo {
    position: absolute;
    left: 5px;
    top: 10px;
    background-color: rgb(230, 198, 238);

  }

  .toggle {
    position: absolute;
    top: 10px;
    right: 8px;

  }

  .navToggled :nth-of-type(n+2) {
    margin-top: 40px;

  }

  .nav {
    display: none;
  }

}