
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(230, 198, 238);
  padding: 20px 40px; 
  align-items: center;
  height:100%;
  
}
ul {
  list-style-type: none;
}
 .nav{
  display: flex;
  padding: 0px 40px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.nav :nth-of-type(6){
  flex: 1;
  text-align:right;
  

}
.nav li {
  margin:   0px 5%;
  width: auto;
  

}

.toggle {
  display: none;
}
.logo{
  flex: 1;
}

@media(max-width:500px) {
  .toggle {
    display: block;
  }
 
  .nav{
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .nav :nth-of-type(6){
    text-align:center;
  }
  .logo {
    position: absolute;
    left: 5px;
    top: 10px ;
    background-color: rgb(230, 198, 238);

  }
  .toggle{
    background-color: rgb(230, 198, 238);
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .nav :nth-of-type(n+3){
    margin-top: 40px;
  }
  
}










